*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    background-color: rgb(252, 214, 1);
    align-items: center;
    justify-content: space-between;
    padding:2px 5px;
    width: 100%;
}
.navbar ul{
    display: flex;
    margin:10px;
    align-items: center;
    padding:14px 5px;
    list-style: none;
}
.navbar li a{
   
    color: rgb(12, 103, 163);
    padding:10px 2px;
    margin: 15px;
}
.navbar h1{
    padding: 10px 50px;
}
.navbar li img {
    margin:0px 15px;
}
.hero{
    background: url("./asset/background-image.png") no-repeat center center/cover;
    height: 500px;
    position: relative;
}
.color-overlay{
    width:100%;
    height:100%;
    position: absolute;
    opacity: .1;
    top: 0;
    left:0;
    background-color: rgb(184, 184, 184);
}
.heroContent{
    display: flex;
    padding:30px 40px;
    justify-content: space-between;
    
}
.leftContent{
    z-index: 1;
    padding:20px 30px;
    width: 300px;
}
.leftContent h2{
    color: #000;
    font-weight: 100;
    color:rgb(87, 86, 86);
}
.quickTestBtn{
    margin:20px 1px;
    padding:15px 20px;
    border:none;
    background-color: rgb(238, 30, 99);
}
.quickTestBtn a{
    color: papayawhip;
    font-weight: bold;
    word-spacing: 2px;
    font-size: 10px;
    cursor: pointer;
}
.rightContent{
    width: 330px;
    height: 250px; 
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    padding:10px;
}
.rightContent input{
    border: none;
    display: block;
    width: 90%;
    border-bottom: 1px solid slategray;
    margin:10px 20px; 
    padding:5px;
}
.rightContent h2,h5{
font-weight: lighter;
text-align: center;
color: rgb(122, 122, 122);
}
.submitBtn{
    border:none;
    width:180px;
    margin:10px 50px 25px 70px ;
    padding:15px;
    background-color: rgb(4, 153, 4);
    cursor: pointer;
}
.submitBtn a{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
}
footer{
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    background-color: rgb(15, 125, 216);
    padding:30px 10px;
}
footer div {
    margin:10px;
    word-spacing: 10px;
}
.footerLeftSection{
padding: 20px 30px;
}
.footerLeftSection span img{
    border-radius: 50%;
    padding:15px;
    height: 50px;
    background-color: rgb(127, 173, 211);
}
.footerLeftSection h2{
    font-size: 30px;
    color: #fff;
    font-weight: lighter;
}
.footerMidSection,.footerRightSection{
    width: 300px;
    padding:10px;
}
.footerMidSection p,.footerRightSection p{
    margin: 5px;
    color: #fff;
    font-size: 15px;
    font-weight:normal;
}
.footerMidSection img,.footerRightSection img {
    border-radius: 50%;
    text-align: center;
}
